header {
  padding: 20px 50px;
  background-color: #333;
  color: #fff;
}


.container-header {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
  margin: auto;
}

.nav-wrapper {
  display: flex;
  gap: 8px;
}

.nav-wrapper > a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.nav-wrapper > a:hover {
  color: rgb(52, 103, 212);
}